body {
    background: linear-gradient(to top, #360033, #0b8793);
}
.catImg {
    height: 425px;
    width: 468px; 
    border: solid 15px #000000;
    box-sizing:border-box;
    transition: border 0.45s ease;
    
}
.catImg:hover {
    border: solid 10px #ffffff
}
.toptext {
    font-family: Impact;
    font-size: 35px;
    width: 100%;
    color: #ffffff; 
    text-align: center;
}